
/*Clases reutilizables*/
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.text-uppercase {
    text-transform: uppercase;
}

#subtitles {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

/*Estilos de la barra de navegación*/

header {
    background-image: url(../assets/images/hero.gif);
    background-repeat: no-repeat;
    overflow: auto;
    background-size: cover;
}
.bar-menu {
    box-sizing: border-box;
    display: inline-block;
    padding: 21px;
    width: 100%;
    line-height: 20px;
}

.gif {
   
    width: 100%;
    height: auto;
}

.nav {
    box-sizing: border-box;
    float: left;
}

.logo {
    margin: 10px 670px 0px 28px;
}

.menu {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    transform: translateY(3px);
    width: 320px;
    overflow: auto;
}

li {
    float: left;
    text-align: center;
    margin: 21px;

}

.anchor-1, .anchor-button {
    text-decoration: none;
    display: block;
    color: white;
} 

.anchor-1:hover {
    color: #FF00BF;
}

.button-1 {
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0 0 10px #fff;
    display: inline-block;
    font-size: 18px;
    transform: translateY(14px);
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    background: #290e40;
    color: #fff;
    margin-left: 21px;
    padding: 7px 14px;
}

/*Estilos del formulario*/
.content {
    box-sizing: border-box;
  
}

.sub-content {
    float: right;
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    height: 520px;
    width: 560px;
}

.form {  
    box-sizing: border-box;
    display: block;
    margin: 42px;
    transform: translateY(28px);
    width: 440px;
}

.title-form {
    color: #352384;
    margin-bottom: 28px;
}

h1 , h2 {
     font-size: 40px;
     font-weight: bold;
     line-height: 44px;
}

#sub-title {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.input {
    margin-bottom: 35px;
    box-sizing: border-box;
    height: 120px;
}

input {
    outline: none;
    border: none;
    border-bottom: 2px solid #728099;
    font-size: 16px;
    width: 100%;
}

.buttons {
    margin-top: 42px;
    box-sizing: border-box;
}

.button-2 {
    border: 1px solid #ff00bf;
    background: #ff00bf;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 17px;
    padding: 14px 28px;
}

.button-3 {
    border: none;
    background: none;
    font-size: 16px;

}

.anchor-button2 {
    color: #728099;
}

.anchor-button2:hover {
    color: #ff00bf;
}

.small-text {
    font-size: 11px;
    font-weight: 300;
    line-height: 21px;
    color: #728099;
}

.anchor-small-text {
    color: #ff00bf;
    text-decoration: none;
}

.anchor-small-text:hover{
    text-decoration: underline;
}

/*Body: Sección 1*/
.section-1{
    background: linear-gradient(#76278F, #2B1E66);
    box-sizing: border-box;
}

.sub-section1 {
    box-sizing: border-box;
    width: 100%;
    height: 720px;
    margin: 0 auto;
    text-align: center;
}

.paragraphs {
    box-sizing: border-box;
    display: inline-block;
    color: #fff;
    line-height: 30.8px;
    margin-left: 120px;
    position: relative;
    text-align: justify;
    transform: translateY(-42px);
    width: 460px;
    height:auto;
    
}

.text-container {
    margin-bottom: 56px;
}

.cell {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 500px;
    margin-top: 80px;
    margin-right:120px;
    margin-left: 80px;
    
}
/*Sección videos*/
.sections {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.sub-sections {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 515px;
    
}

.watch-1 {
    box-sizing: border-box;
    margin: 35px 70px;
    float: left;   
    width: 400px;

}

.video-1 {
    box-sizing: border-box;
    width: 806px;
    float: right;;
}

.watch-2 {
    box-sizing: border-box;
    margin: 35px 70px;
    width: 400px;
    float: right;
}

.video-2 {
    box-sizing: border-box;
    margin-top: 0;
    width: 806px;
    float: left;
}

/*footer*/
.footer {
    background-color: #333447;
    outline: 4px solid #333447;
    box-sizing: border-box;
    color: #fff;
}

.bottom-container {
    box-sizing: border-box;
    text-align: center;
    padding: 42px 0px;
    width: 100%;
    height: 100%;
}

.column {
    box-sizing: border-box;
    width: 200px;
    display: inline-block;
}

#anchor-column {
    color: #fff;
    line-height: 42px;
    text-decoration: none;
    display: block;
}

#anchor-column:hover {
    color: #FF00BF;
}

.icons {
    box-sizing: border-box;
    margin-left: 180px;
    display: inline-block;
    width: 1000px;
    padding: 21px;
    text-align: center;
}

.anchor-icon {
    padding: 21px;
    margin-bottom: 35px;
    text-decoration: none;
    color: white;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 21px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 7px;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {
    color: #FF00BF;
    background: #fff;
}

